html

.w-100{
  width: 100%;
}
.w-80{
  width: 70%;
}
.w-70{
  width: 70%;
}

.w-50{
  width: 50%;
}


.m-3{
  margin: 3%;
}
.mb-5{
  margin-bottom: 5%;
}
.ml-10{
  margin-left: 10% !important;
}
.mt-5{
  margin-top: 5%;
}


.pt-5{
  padding-top: 5%;
}
.pl-3{
  padding-left: 3%;
}
.pl-15{
  padding-left: 15% !important;
}

/* //login// */
.btn-login{
  background-color: #E69774;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}
.btn-login:hover{
  color: #E69774;
  background-color: #fff;
  border: 1px solid #E69774;
  transition: color 0.8s linear 0.2s;
}
.a-signUp{
color: #647E7F;
}
.a-signUp:hover{
  color: #647E7F;
}

/* //signup// */
.btn-signup{
  background-color: #3A0A8D;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px
}
.btn-signup:hover{
  color: #3A0A8D;
  background-color: #fff;
  border: 1px solid #3A0A8D;
  transition: color 0.8s linear 0.2s;
}
.a-LogIn{
  color: #BDA8E0;
}
  .a-LogIn:hover{
    color: #BDA8E0;
}
.img-signUp{
  width: 350px;
  height: 350px;
  border-radius: 150px;
}

/* //principal// */
.profile-principal{
  justify-content: flex-end;
  padding: 4%;
}
.txt-welcome{
  padding: 5%;
  font-family: -webkit-pictograph;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0em;
  text-align: center;
  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: transparent;
}
.bg-infoCitys{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 5%;
}
.btn-addCountry{
  background-color: #E69774;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  padding: 1%;
}